body {
  background: #000;
  font-family: Helvetica;
  color: #fff;
}

a {
  color: #6f6;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#content-wrapper {
  background:url(../img/frankie-background.jpg) no-repeat;
  width:866px;
  height:677px;
  margin-left:auto;
  margin-right:auto;
  padding-top:180px;
}

.content {
  margin-left:auto;
  margin-right:auto;
  width:800px;
  text-align:center;
}

#learning {
  display:none;
}

#its-alive {
  margin-top: 50px;
  display:none;
}

#echonest {
}

.warning-container {
  font-size: medium;
  color: #aaa;
}

.defaultText {
  width: 200px;
  font-size: medium;
}

.defaultTextActive {
  color: #a1a1a1;
  font-style: italic;
  font-size: medium;
}

button {
  font-size: large;
  font-family: Helvetica;
  font-style: bold;
}
